<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>190237699059-9j4n71e8thmtkigelduq4egq9munvgvf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.190237699059-9j4n71e8thmtkigelduq4egq9munvgvf</string>
	<key>API_KEY</key>
	<string>AIzaSyCivaV07QwGepX8xKOKZdl25yDPFIABTCM</string>
	<key>GCM_SENDER_ID</key>
	<string>190237699059</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Dogpa.Swift-Practice---115-Firebase-Auth</string>
	<key>PROJECT_ID</key>
	<string>swiftpractice115</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftpractice115.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:190237699059:ios:73cf2dd1750f12d43fc086</string>
</dict>
</plist>